/*
This is the RilvX complete CSS framework. Based on CSS flexbox. There are sections, and subsections. Below is the table of contents.
/*

/*
Table of contents:

*/


/* Bootstrap Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
	font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

/* Fonts */

.f-IBM{
  font-family: 'IBM Plex Mono', sans-serif !important;
}

.f-u{
  font-family: 'Ubuntu', sans-serif !important;
}

.f-i-s{
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.f-c{
  font-family: 'Comfortaa', sans-serif !important;
}

.f-so{
  font-family: 'Secular One', sans-serif !important;
}

.f-ab{
  font-family: 'Archivo Black', sans-serif !important;
}

.f-po{
  font-family: 'Paytone One', sans-serif !important;
}

.f-bhs{
  font-family: 'Black Han Sans', sans-serif !important;
}

.f-l{
  font-family: 'Lexend', sans-serif !important;
}

.f-p{
  font-family: 'Poppins', sans-serif !important;
}

.f-r{
  font-family: 'Roboto', sans-serif !important;
}

.f-h{
  font-family: 'Helvetica', sans-serif !important;
}

.f-a{
  font-family: 'Arial', sans-serif !important;
}

.f-m{
  font-family: 'Montserrat', sans-serif !important;
}

.f-cl{
  font-family: 'Cantarell', sans-serif !important;
}

.f-o{
  font-family: 'Oxygen', sans-serif !important;
}

.f-rm{
  font-family: 'Roboto Mono', sans-serif !important;
}

.f-sm{
  font-family: 'Space Mono', sans-serif !important;
}

/* Universal Default */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form{
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255, .2);
    color:white;
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

/* Width */

/* Width Sub: Percents */

.w-100-p{
  width: 100%;
}

.w-90-p{
  width: 90%;
}

.w-80-p{
  width: 85%;
}

.w-75-p{
  width: 75%;
}

.w-70-p{
  width: 70%;
}

.w-60-p{
  width: 60%;
}

.w-50-p{
  width: 50%;
}

.w-40-p{
  width: 40%;
}

.w-30-p{
  width: 30%;
}

.w-25-p{
  width: 25%;
}

.w-20-p{
  width: 20%;
}

.w-10-p{
  width: 10%;
}

/* Width Sub: Pixels */

.w-1{
  width: 1px;
  max-width: 1px;
  min-width: 1px;
}

.w-2{
  width: 2px;
  max-width: 2px;
  min-width: 2px;
}

.w-3{
  width: 3px;
  max-width: 3px;
  min-width: 3px;
}

.w-4{
  width: 4px;
  max-width: 4px;
  min-width: 4px;
}

.w-5{
  width: 5px;
  max-width: 5px;
  min-width: 5px;
}

.w-10{
  width: 10px;
  max-width: 10px;
  min-width: 10px;
}

.w-15{
  width: 15px;
  max-width: 15px;
  min-width: 15px;
}

.w-20{
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}

.w-25{
  width: 25px;
  max-width: 25px;
  min-width: 25px;
}

.w-30{
  width: 30px;
  max-width: 30px;
  min-width: 30px;
}

.w-35{
  width: 35px;
  max-width: 35px;
  min-width: 35px;
}

.w-40{
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}

.w-45{
  width: 45px;
  max-width: 45px;
  min-width: 45px;
}

.w-50{
  width: 50px;
  max-width: 50px;
  min-width: 50px;
}

.w-55{
  width: 55px;
  max-width: 55px;
  min-width: 55px;
}

.w-60{
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}

.w-65{
  width: 65px;
  max-width: 65px;
  min-width: 65px;
}

.w-70{
  width: 70px;
  max-width: 70px;
  min-width: 70px;
}

.w-75{
  width: 75px;
  max-width: 75px;
  min-width: 75px;
}

.w-80{
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}

.w-85{
  width: 85px;
  max-width: 85px;
  min-width: 85px;
}

.w-90{
  width: 90px;
  max-width: 90px;
  min-width: 90px;
}

.w-95{
  width: 95px;
  max-width: 95px;
  min-width: 95px;
}

.w-100{
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.w-125{
  width: 125px;
  max-width: 125px;
  min-width: 125px;
}

.w-150{
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}

.w-175{
  width: 175px;
  max-width: 175px;
  min-width: 175px;
}

.w-200{
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}

.w-225{
  width: 225px;
  max-width: 225px;
  min-width: 225px;
}

.w-250{
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}

.w-275{
  width: 275px;
  max-width: 275px;
  min-width: 275px;
}

.w-300{
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.w-550{
  width: 550px;
}

/* Width Sub: Others: */

.m-w-50-p{
  max-width: 50%;
  min-width: 50%;
}

.m-w-40-p{
  max-width: 40%;
  min-width: 40%;
}

/* Height */

/* Height Sub: Percent */

.h-100-p{
  height: 100%;
}

.h-90-p{
  height: 90%;
}

.h-80-p{
  height: 85%;
}

.h-75-p{
  height: 75%;
}

.h-70-p{
  height: 70%;
}

.h-60-p{
  height: 60%;
}

.h-50-p{
  height: 50%;
}

.h-40-p{
  height: 40%;
}

.h-30-p{
  height: 30%;
}

.h-25-p{
  height: 25%;
}

.h-20-p{
  height: 20%;
}

.h-10-p{
  height: 10%;
}

.h-100-vh{
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}

/* Height Sub: Pixels */

.h-1{
  height: 1px;
  max-height: 1px;
  min-height: 1px;
}

.h-2{
  height: 2px;
  max-height: 2px;
  min-height: 2px;
}

.h-3{
  height: 3px;
  max-height: 3px;
  min-height: 3px;
}

.h-4{
  height: 4px;
  max-height: 4px;
  min-height: 4px;
}

.h-5{
  height: 5px;
  max-height: 5px;
  min-height: 5px;
}

.h-10{
  height: 10px;
  max-height: 10px;
  min-height: 10px;
}

.h-15{
  height: 15px;
  max-height: 15px;
  min-height: 15px;
}

.h-20{
  height: 20px;
  max-height: 20px;
  min-height: 20px;
}

.h-25{
  height: 25px;
  max-height: 25px;
  min-height: 25px;
}

.h-30{
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}

.h-32{
  height: 32px;
  max-height: 32px;
  min-height: 32px;
}

.h-35{
  height: 35px;
  max-height: 35px;
  min-height: 35px;
}

.h-40{
  height: 40px;
  max-height: 40px;
  min-height: 40px;
}

.h-45{
  height: 45px;
  max-height: 45px;
  min-height: 45px;
}

.h-50{
  height: 50px;
  max-height: 50px;
  min-height: 50px;
}

.h-75{
  height: 75px;
  max-height: 75px;
  min-height: 75px;
}

.h-100{
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}

.h-170{
  height: 170px;
}

.h-200{
  height: 200px;
}

/* Border */

/* Border Sub: Radius */

.br-1{
  border-radius: 1px;
}

.br-2{
  border-radius: 2px;
}

.br-3{
  border-radius: 3px;
}

.br-4{
  border-radius: 4px;
}

.br-5{
  border-radius: 5px;
}

.br-10{
  border-radius: 10px;
}

.br-15{
  border-radius: 15px;
}

.br-20{
  border-radius: 20px;
}

.br-25{
  border-radius: 25px;
}

.br-100{
  border-radius: 100px;
}

.br-15-trb{
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.br-15-b{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.br-5-t{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.br-10-t{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.br-10-bl{
  border-bottom-left-radius: 10px;
}

.br-10-br{
  border-bottom-right-radius: 10px;
}

.br-10-tl{
  border-top-left-radius: 10px;
}

.br-10-tr{
  border-top-right-radius: 10px;
}

.br-15-l{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.br-15-r{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.br-10-l{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.br-10-r{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Border Sub: Border */

.b-n{
  border: 0px transparent;
}

.b-w-1{
  border: 1px solid white;
}

.b-b-1{
  border: 1px solid black;
}

.b-g-2{
  border: 2px solid green;
}

.b-dlg-2{
  border: 2px solid #EAEEF2;
}

.b-dlg-1{
  border: 1px solid #EAEEF2;
}

.b-dlg-2-lrt{
  border-top: 2px solid #EAEEF2;
  border-left: 2px solid #EAEEF2;
  border-right: 2px solid #EAEEF2;
}

.b-dlg-1-tb{
  border-top: 1px solid #EAEEF2;
  border-bottom: 1px solid #EAEEF2;
}

.b-dlg-1-tbl{
  border-top: 1px solid #EAEEF2;
  border-bottom: 1px solid #EAEEF2;
  border-left: 1px solid #EAEEF2;
}

.b-dlg-1-tbr{
  border-top: 1px solid #EAEEF2;
  border-bottom: 1px solid #EAEEF2;
  border-right: 1px solid #EAEEF2;
}

/* Layouts */

/* Layouts Sub: Gaps */

.cg-5{
  column-gap: 5px;
}

.cg-10{
  column-gap: 10px;
}

.cg-15{
  column-gap: 15px;
}

.cg-20{
  column-gap: 20px;
}

.cg-25{
  column-gap: 25px;
}

.cg-50{
  column-gap: 50px;
}

.rg-5{
  row-gap: 5px;
}

.rg-10{
  row-gap: 10px;
}

.rg-15{
  row-gap: 15px;
}

.rg-20{
  row-gap: 20px;
}

.rg-25{
  row-gap: 25px;
}

.rg-30{
  row-gap: 30px;
}

.rg-35{
  row-gap: 35px;
}

.rg-40{
  row-gap: 40px;
}

.rg-45{
  row-gap: 45px;
}

.rg-50{
  row-gap: 50px;
}

/* Positioning and Centering */

.ta-c{
  text-align: center;
}

.ta-r{
  text-align: right;
}

.ta-l{
  text-align: left;
}

.pos-ab{
  position: absolute;
}

.pos-s{
  position: sticky;
}

.pos-f{
  position: fixed;
}

.pos-r{
  position: relative;
}

.va-c{
  vertical-align: center;
}

.d-b{
  display: block;
}

/* Layout Sub: Flexbox */

.fw-w{
  flex-wrap: wrap;
}

.fw-wr{
  flex-wrap: wrap-reverse;
}

.fw-nw{
  flex-wrap: no-wrap;
}

.d-flex {
  display: flex;
}

.ai-c {
  align-items: center;
}

.ai-fs{
  align-items: flex-start;
}

.ai-fe{
  align-items: flex-end;
}

.ai-s{
  align-items: stretch;
}

.ai-b{
  align-items: baseline;
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-sb{
  justify-content: space-between;
}

.jc-se{
  justify-content: space-evenly;
}

.jc-sa{
  justify-content: space-around;
}

.ac-c{
  align-content: center;
}

.ac-fs{
  align-content: flex-start;
}

.ac-fe{
  align-content: flex-end;
}

.ac-sb{
  align-content: space-between;
}

.ac-sa{
  align-content: space-around;
}

.as-a{
  align-self: auto;
}

.as-c{
  align-self: center;
}

.as-fs{
  align-self: flex-start;
}

.as-fe{
  align-self: flex-end;
}

.as-b{
  align-self: baseline;
}

.as-s{
  align-self: stretch;
}

.o-1{
  order: 1;
}

.o-2{
  order: 2;
}

.o-3{
  order: 3;
}

.o-4{
  order: 4;
}

.o-5{
  order: 5;
}

.f-1{
  flex: 1;
}

.f-2{
  flex: 2;
}

.f-3{
  flex: 3;
}

.f-4{
  flex: 4;
}

.f-5{
  flex: 5;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
}

.d-flex-row{
  display: flex;
  flex-direction: row;
}

/* Layout Sub: Premade: (Development) */

.col-1{
  flex: 0 0 auto;
}

/* Z-Index */

.zi-1{
  z-index: 1
}

.zi-100{
  z-index: 100
}

/* Text-Styling */

.ls-n{
  list-style: none;
}

.td-n{
  text-decoration: none;
}

/* Font Size */

.fs-10{
  font-size: 10px
}

.fs-11{
  font-size: 11px
}

.fs-12{
  font-size: 12px
}

.fs-13{
  font-size: 13px
}

.fs-14{
  font-size: 14px;
}

.fs-15{
  font-size: 15px;
}

.fs-20{
  font-size: 20px;
}

.fs-25{
  font-size: 25px;
}

.fs-30{
  font-size: 30px;
}

.fs-35{
  font-size: 35px;
}

.fs-40{
  font-size: 40px;
}

.fs-45{
  font-size: 45px;
}

.fs-50{
  font-size: 50px;
}

.fs-55{
  font-size: 55px;
}

.fs-60{
  font-size: 60px;
}

.fs-65{
  font-size: 65px;
}

.fs-70{
  font-size: 70px;
}

.fs-75{
  font-size: 75px;
}

/* Color */

/* Color Sub: Background */

.bg-b{
  background: black;
}

.bg-dg{
  background: #27272A;
}

.bg-w{
  background: white;
}

.bg-lg{
  background: #F3F6F9;
}

.bg-dlg{
  background: #EAEEF2;
}

.bg-g{
  background: #7d7d7d;
}

.bg-g{
  background: #2ECC66;
  /*Previous: #00EB8B*/
}

.bg-lb{
  background: #ADD8E6;
}

.bg-r{
  background: red;
}

.bg-t{
  background: transparent;
}

.bg-o{
  background: #ffa500;
}

.bg-grn{
  background: #00ff00;
}

.bg-p{
  background: #FFC0CB;
}

.bg-prpl{
  background: #800080;
}

.bg-y{
  background: #ffff00;
}

/* Color Sub: Text */

.c-w{
  color: white;
}

.c-b{
  color: black;
}

.c-p{
  color: black;
}

.c-s{
  color: white;
}

.c-g{
  color: #008000;
}

.c-bl{
  color: blue;
}

.c-p{
  color: purple;
}

.c-t{
  color: turquoise;
}

.c-r{
  color: red;
}

.c-lg{
  color: #F3F6F9;
}

.c-dlg{
  color: #EAEEF2;
}

.c-1{
  color: #64748b;
}

.c-2{
  color: #5A6978;
}

.c-gradient-gb{
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Containers */

.container{
	max-width: 1100px;
  margin: 0px auto;

}

.mini-container{
  max-width: 700px;
  margin: 0px auto;
}

.container-stretch{
	width: 100%;
  margin: 0px auto;

}

/* Padding and Margin */

.pm-0{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.py-1{
  padding-top: 1px;
  padding-bottom: 1px;
}

.py-2{
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-3{
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-4{
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15{
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25{
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-30{
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-50{
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-60{
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-75{
  padding-top: 75px;
  padding-bottom: 75px;
}

.py-80{
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-125{
  padding-top: 125px;
  padding-bottom: 125px;
}

.py-150{
  padding-top: 150px;
  padding-bottom: 150px;
}

.py-175{
  padding-top: 175px;
  padding-bottom: 175px;
}

.py-200{
  padding-top: 200px;
  padding-bottom: 200px;
}

.px-10{
  padding-left: 10px;
  padding-right: 10px;
}

.px-15{
  padding-left: 15px;
  padding-right: 15px;
}

.px-20{
  padding-left: 20px;
  padding-right: 20px;
}

.px-25{
  padding-left: 25px;
  padding-right: 25px;
}

.px-30{
  padding-left: 30px;
  padding-right: 30px;
}

.px-40{
  padding-left: 40px;
  padding-right: 40px;
}

.px-50{
  padding-left: 50px;
  padding-right: 50px;
}

.pt-20px{
  padding-top: 20px;
}

.pb-50{
  padding-bottom: 50px;
}

.mx-10{
  margin-left: 10px;
  margin-right: 10px;
}

.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-50{
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-75{
  margin-top: 75px;
  margin-bottom: 75px;
}

.ml-50{
  margin-left: 50px;
}

.mr-50{
  margin-right: 50px;
}

.mt-10{
  margin-top: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mt-20{
  margin-top: 20px;
}

.mt-50{
  margin-top: 50px;
}

.mt-35{
  margin-top: 35px;
}

.mt-15{
  margin-top: 15px;
}

/* Text Spacing */

.lh-09{
  line-height: 0.9em;
}

.lh-12{
  line-height: 1.2em;
}

.lh-15{
  line-height: 1.5em;
}

/* Preset Default */

a{
	color:#000000;
	text-decoration:none;
}

/* Custom Multi-Object Classes */

.video-overlay{
  position: absolute;
}

.of-c{
  object-fit: cover;
}

.of-f{
  object-fit: fill;
}

.of-h{
  overflow: hidden;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
}

.pre-flex-c{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.pre-flex-sb{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.pre-flex-col-c{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.pre-flex-col-sb{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.browser-nav{
  background-color: white;
  min-height: 12px;
  max-height: 12px;
  min-width: 12px;
  max-width: 12px;
  border-radius: 100px;
}

/* Mobile (Responsiveness) */


@media only screen and (max-width:768px) {

  /* Sub Mobile: New */

  .rs-fs-40{
    font-size: 40px;
  }

  .rs-pt-50{
    padding-top: 50px;
  }

  .rs-jc-l{
    justify-content: left;
  }

  .rs-d-b{
    display: block;
  }

  .rs-d-n{
    display: none;
  }

  .rs-jc-r{
    justify-content: right;
  }

  .ml-50{
    margin-left: 0;
  }

  .rs-mt-25{
    margin-top: 25px;
  }

  .rs-py-20{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rs-fs-50{
    font-size: 50px; !important
  }

  .rs-rg-25{
    row-gap: 25px;
  }

  .rs-d-flex-col{
    display: flex;
    flex-direction: column;
  }

  /* Mobile Sub: Existent */

  .m-w-40-p{
    min-width: 100%;
  }

  .w-60-p{
    min-width: 100%;
  }

  .w-50-p{
    width: 100%;
  }

  .m-w-50-p{
    min-width: 100%;
  }

}


